{% extends "base.html" %}
{% block content %}
{% block logout %}
{% endblock logout %}
<div class="notes_wrap">
    <h2>NOTES FOR REVIEW OF SECTION 5</h2>
    <div class="notes">
        <div class="sections">
        <div class="innerlinks">
            <h3><a class="ilinks" href="#">Javascript</a></h3>

        </div>
        <h3> <a name="javascript">Javascript</a> </h3>
        <i>reference link </i><a href="https://en.wikipedia.org/wiki/JQuery">jQuery</a>

        <p>
            API for a well known library known as jQuery known for its size and feature rich functionality.
            jQuery is known for it's simplification of the javascript language, allowing for less code to
            create interactivity and functionality. jQuery is free and as well as being an open source language(MIT)
            allowing for plugins that can be created on top of the library. Additionally jQuery allows for powerful
            dynamic web pages and web applications to be easily and quickly crafted per its <i>DOM</i> manipulation.


        </p>
        <p>
        <br>
        <i>reference link </i><a href="http://techterms.com/definition/javascript">Javascript</a>
        <p> <i>Simplified definition of javascript detailing it's origins and its functionality.</i>
            Javascript was developed by Netscape in order to add more dynamic content, as well as
            interactive elements. Though Javascript has the word &quot;Java&quot; in its namesake, it is not Java,
            though it is influenced by it in its syntax as well as being partially based on
            <a href="http://www.ecmascript.org/docs.php">ECMAScript</a>.
        </p>


            <b>What is javascript</b>
            <ol>
                <li>Javascript is an essential ,interpreted, client sided scripting language created in 1995,
                used for dynamic interaction via on-the-fly calculations performed client side.</li>
                <li>Javascript is untyped, meaning &quot;any operation can be performed on any data&quot;</li>

                <li>viewed in the browser through developer tools, such as Firefox firebug or google Chrome
                Developer tools.</li>

            </ol>

            <b>What it is not</b>
            <ol>
                <li>JS is not Java, although it takes much of its syntax from that language and Java's ancestor C.</li>
                <li>JS is not a server sided language, as all the processing takes place on the client side.</li>
                <li>JS is not a true class based Object Oriented programming language, although it does use prototyping.</li>
            </ol>

             <b>Frameworks</b>
            <ol>
                <li><a href="http://jquery.com/">jQuery</a></li>
                <li><a href="https://angularjs.org/">AngularJS</a></li>
                <li><a href="http://backbonejs.org/">Backbone</a></li>
                <li><a href="https://facebook.github.io/react/">React</a></li>
            </ol>
        </div>




    </div>
</div>




{% endblock %}

